Source: pve-firewall
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 10),
               dh-systemd,
               libglib2.0-dev,
               libnetfilter-conntrack-dev,
               libnetfilter-log-dev,
               libpve-common-perl,
               pve-cluster,
               pve-doc-generator (>= 5.3-3),
Standards-Version: 3.9.8

Package: pve-firewall
Architecture: any
Conflicts: ulogd,
Depends: ebtables,
         ipset,
         iptables,
         libpve-access-control,
         libpve-common-perl,
         lsb-base,
         pve-cluster,
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends},
Description: Proxmox VE Firewall
 This package contains the Proxmox VE Firewall.
