Source: pve-firewall
Section: admin
Priority: extra
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 7.0.50~), libnetfilter-log-dev, libglib2.0-dev
Standards-Version: 3.8.4

Package: pve-firewall
Architecture: any
Conflicts: ulogd
Depends: ${shlibs:Depends}, ${perl:Depends}, ${misc:Depends}, libpve-common-perl, pve-cluster, libpve-access-control
Description: Proxmox VE Firewall
 This package contains the Proxmox VE Firewall.
