Source: pve-firewall
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 12),
               libglib2.0-dev,
               libnetfilter-conntrack-dev,
               libnetfilter-log-dev,
               libpve-common-perl,
               libpve-access-control,
               libpve-cluster-perl,
               pve-cluster (>= 6.0-4),
               pve-doc-generator (>= 5.3-3),
Standards-Version: 4.5.1

Package: pve-firewall
Architecture: any
Conflicts: ulogd,
Depends: ebtables,
         ipset,
         iptables,
         libpve-access-control,
         libpve-cluster-perl,
         libpve-common-perl,
         lsb-base,
         pve-cluster (>= 6.1-6),
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends},
Description: Proxmox VE Firewall
 This package contains the Proxmox VE Firewall.
