#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd --name pvefw-logger pvefw-logger.service
	dh_installsystemd --name pve-firewall pve-firewall.service

override_dh_systemd_enable:
	dh_systemd_enable --name pvefw-logger pvefw-logger.service
	dh_systemd_enable --name pve-firewall pve-firewall.service

override_dh_systemd_start:
	dh_systemd_start --restart-after-upgrade pvefw-logger.service
	# pve-firewall start/try-reload-restart manually in postinst

override_dh_installinit:
